<!DOCTYPE html>
<html>
  <head>
    <title>Handyman Tools</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-nav">
      <div class="site-nav-inner">
        <%= link_to "Handyman Tools", root_path, class: "site-brand" %>
        <nav class="site-links" aria-label="Primary navigation">
          <%= link_to "Home", root_path, class: nav_link_class(root_path) %>
          <%= link_to "Convert Files", convert_files_path, class: nav_link_class(convert_files_path) %>
          <%= link_to "Convert Icons", convert_icons_path, class: nav_link_class(convert_icons_path) %>
          <%= link_to "Youtube Converter", youtube_converter_path, class: nav_link_class(youtube_converter_path) %>
        </nav>
      </div>
    </header>

    <% if flash[:notice].present? || flash[:alert].present? %>
      <div class="flash-wrap">
        <% if flash[:notice].present? %>
          <p class="flash flash-notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:alert].present? %>
          <p class="flash flash-alert"><%= flash[:alert] %></p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
